{% extends 'templates/base.html' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .containe {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 0px 20px #00000010;
        background-color: white;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      .form-group {
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
      }
      .form-group input,
      .form-group textarea,
      .form-group select {
        width: 100%;
        height: 20px;
        padding: 5px;
        font-size: 18px;
        border: 1px solid rgba(128, 128, 128, 0.199);
        margin-top: 5px;
      }
      
      #massage {
        resize: vertical;
        height: 3em;
      }
      #submit_button {
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 24px;
        border-radius: 8px;
        font-family: "Montserrat";
        color: black;
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
        background-color: #16A085;
        transition: 0.3s ease background-color;
      }
      #submit_button:hover {
        background-color: rgb(214, 226, 236);
      }
      #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 8px;
      }
      #status.success {
        background-color: rgb(211, 250, 153);
        animation: status 4s ease forwards;
      }
      #status.error {
        background-color: rgb(250, 129, 92);
        color: white;
        animation: status 4s ease forwards;
      }
      @keyframes status {
        0% {
          opacity: 1;
          pointer-events: all;
        }
        90% {
          opacity: 1;
          pointer-events: all;
        }
        100% {
          opacity: 0;
          pointer-events: none;
        }
      }
      

  </style>
{% endblock header %}

{% block body %}

<h2>Second form</h2>
<section>
    <div class="containe">
        <form action="{% url 'store:add_order' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="medicine">Medicine</label>
                <select class="chosen" name="medicine" id="medicine" required>
                    {% for key, value in all_medicines.items %}
                    <option value="{{ value}}">{{key}}</option>
                    {% endfor %}
                </select>
        
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input name="quantity" id="quantity" type="number" min="1" required>
            </div>
            <div class="form-group">
                <label for="customer">Customer</label>
                <select class="chosen" name="customer" id="customer" required>
                    {% for key, value in all_customers.items %}
                    <option value="{{ value}}">{{key}}</option>
                    <P>{{value}}</P>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="shipping_mode">Shipping Mode</label>
                <select class="chosen" name="shipping_mode" id="shipping_mode" required>
                    {% for key, value in all_shipping_modes.items %}
                    <option value="{{ value}}">{{key}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="from_stock">Store</label>
                <select name="location" id="location" class="chosen" required>
                    <option value="" selected>Select stock</option>
                    {% for key, value in all_stocks.items %}
                    <option value="{{value}}">{{key}}</option>
                    {% endfor %}
                </select>
            </div>
            <input id="submit_button" type="submit" value="Submit">
        
        </form>

    </div>
</section>

{% endblock body %}

{% block scripts %}
<script type="text/javascript">
    $(".chosen").chosen();

</script>

{% endblock scripts %}