{% extends 'templates/base.html' %}


<!-- head -->
{% block header %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/central.css' %}">
{% endblock header %}


<!-- body -->
{% block body %}
<h1 class="title">Stock Create history</h1>
{% if all_stock_transactions %}
    <input id="myInput" type="text" placeholder="Search..">
    <hr>
    <div id="myDIV">
    {% for transaction in all_stock_transactions %}
        <div style="margin-left: 10px;">
            <p> {{transaction.quantity}} | {{transaction.medicine.name}} at {{transaction.location}}| Handled by: {{user}}</p>
        </div>
        <hr>
    {% endfor %}
    </div>
{%else%}
    <p>No history found.</p>
{% endif %}

{% endblock body %}




<!-- scripts -->
{% block scripts %}
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myDIV *").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock scripts %}