
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/central.css' %}">
    {% block header%}

    {% endblock header%}
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Brand Name</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="{% url 'store:orders' %}">Orders</a></li>
            <li><a href="{% url 'store:customers' %}">Customers</a></li>
            <li><a href="{% url 'store:stocks' %}">Stock</a></li>
            <li><a href="{% url 'store:medicines' %}">Medicines</a></li>
            <li><a href="{% url 'store:create_transaction' %}">Transactions</a></li>
            <li><a href="{% url 'staff:logout' %}">Logout</a></li>
          </ul>
        </div>
    </nav>
    {% for message in messages %}
    <div id="messageDiv" class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
   
    {% block body %}
    {% endblock body%}
</body>
<script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]

    toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active')
    })
</script>
<script>
    //remove message
    $(".btn-close").on("click", function(event) {
        $("#messageDiv").remove();
        event.preventDefault();
    });
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->
{% block scripts %}

{% endblock scripts %}
</html>