{% extends 'templates/base.html' %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/central.css' %}">
{% endblock header %}


{% block body %}
<h1 class="title">Create Medicine</h1>

<section class="form">
    <div class="container">
        <form action="{% url 'store:create_customer' %}" method="POST">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <input class="submit_button_small" type="submit" value="Submit">
        
        </form>

    </div>
</section>
{% endblock body %}