{% extends 'templates/base.html' %}

{% block header %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/central.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock header %}

{% block body %}
<h1 class="title">Customer</h1>
<br>
<a class="link_button" href="{% url 'store:create_customer' %}" >Create customer</a>
<hr>

<h2 class="title">Customer List</h2>
{% if all_customers %}
<input id="myInput" type="text" placeholder="Search..">
<table class="order_table" >
    <thead>
        <tr id="header">
            <th>Name</th>
            <th>Contact</th>
            <th>Balance</th>
        </tr>
    </thead>
    {% for customer in all_customers %}
    <tbody id="myTable">
        <tr  onclick="window.location.href='http://localhost:8000/store/customer_details/{{customer.id}}';">
            <th>{{customer.name}}</th>
            <th>{{customer.phone_number1}}</th>
            <th>{{customer.balance}}</th>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<p>No Customers to show.</p>
{% endif %}
{% endblock body %}


{% block scripts %}
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
</script>
{% endblock scripts %}