{% extends 'templates/base.html' %}

{% block header %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/central.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock header %}




{% block body %}
<h1 class="title">Orders</h1>
<a class="link_button" href="{% url 'store:add_order' %}">Add Order</a>
<hr>

<h2 class="title">Recent Orders</h2>
<input id="myInput" type="text" placeholder="Search..">
{% if all_orders %}
<table class="order_table" >
    <thead>
        <tr id="header">
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Payment</th>
            <th>Dilevery</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for order in all_orders %}
        <tr  onclick="window.location.href='http://localhost:8000/store/order_details/{{order.id}}';">
            <th>{{order.medicine}}</th>
            <th>{{order.quantity}}</th>
            <th>
                {% if order.payment_done %}
                completed
                {% else %}
                pending
                {% endif %}
            </th>
            <th>
                {% if order.delivery_done %}
                completed
                {% else %}
                pending
                {% endif %}
            </th>
            <th>{{order.created_on}}</th>
        </tr>
        {% endfor %}

    </tbody>
    

</table>
{% else %}
<p>No orders to show.</p>
{% endif %}
{% endblock body %}



{% block scripts %}
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
</script>
{% endblock scripts %}

